.all{
    display: flex;
    margin-top: 3px;
    margin-bottom: 2px;
    margin-left: 3rem;
    margin-right: 10rem;
    box-sizing: border-box;
}
.all div{flex: 50%;
    box-shadow: 2px 2p;

}
.head{font-size: 30px;
    font-family: poppins;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}
.user{
    font-size: 30px;
    font-family: poppins;
    display: block;
    margin-top: 2rem;
    
}

button{
    margin-bottom: 10px;
    padding: 10px 20px;
    width: 30%;
    border-radius: 10rem;
    border: 3px solid;
    font-size: 15px;
    margin-top: 5rem;

}
input{
    display: block;
    border-radius: 10rem;
    height: 30px;
    width: 20rem;
}