
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 87%;
    margin: auto;
    font-family: 'Poppins';
}

/* about Scholarships */

.platform-x {
    display: flex;
    flex-direction: row;
    margin-bottom: 8em;
}

.platform-x > div {
    flex: 50%;
}

.about-images-x {
    display: flex;
    flex-direction: column;
}

.about-images-x > div {
    flex: 50%;
    justify-content: space-evenly;
    margin: 1rem;
}

.images-1, .images-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.images-1 img, .images-2 img{
    width: 300px;
    border-radius: 8px;
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-text-x h2{
    color: #E5872D;
    margin-bottom: .7em;
}

.about-text-x p {
    margin: .5em 0;
}

#num {
    color: #4B59B7;
}

/* about Scholarships */

.scholarship {
    padding: 2em;
    display: flex;
    flex-direction: column;
    margin-bottom: 8em;
}

.scholarship h2 {
    margin-bottom: 4em;
    position: relative;
    left: 2em;
}

.scholarship h3, .scholarship h2 {
    color: #4B59B7;
}

.about-scholarships {
    display: flex;
    justify-content: space-around; 
    margin-bottom: 1em;
}

.about-scholarships > div {
    flex: 50%;
}

.about-institution {
    display: flex;
}

.about-institution > div {
    margin-left: 2em;
}

#image {
    flex: 30%;
}

#image > img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.moringa > a {
    color: #E5872D;
}

@media only screen and (max-width:1024px){

.platform{
    display: flex;
}

    .about-images{
        width: 30%;
        display: grid;
        gap: 150px;
        justify-content: space-around;
        grid-template-columns:60px 80px ;
        margin-right: 230px;
    }


    .about-images img{
        width: 180px;
        height: 180px;
    }

    .about-text{
        width: 30%;
    }
    .about-text h2{
        font-size: 20px;
        color: #E5872D;
    }
    
    .about-text P{
        font-size: 15PX;
        line-height: 28px;
    }
    
}


@media only screen and (max-width:1024px){

    
.about-scholarships{
    display: flex;
    justify-content: space-between; 
    margin-top: 50px;
    margin-right: 50px; 
}

.about-institution {
    display: flex;
}

.about-institution img{
    width: 100px;
    height: 120px;

}
.moringa{
    padding-top: 20px;
    margin-left: 20px;
}
.moringa p{
   font-size: 15px;
   line-height: 20px;
 
}
.moringa a{
    color: #E5872D;
    text-decoration: none;
    font-size: 15px;
}


}