

.platform{
    display: flex;
}

.about-images{
    width: 50%;
    display: grid;
    justify-content: space-around;
    grid-template-columns:350px 300px ;
}

.about-images img{
    width: 300px;
    height: 200px;
}

.numbers{
    display: flex;
    justify-content: space-around;
}

#num{
    color: #4B59B7;
}

.about-text{
    width: 50%;
}

.about-text h2{
    font-size: 40px;
    color: #E5872D;
}

.about-text P{
    font-size: 27PX;
    line-height: 40px;
}



/* about Scholarships */

.about-scholarships{
    display: flex;
    justify-content: space-between; 
    margin-top: 50px;
    margin-right: 50px; 
}

.about-institution {
    display: flex;
}

.about-institution img{
    width: 250px;

}
.moringa{
    padding-top: 25px;
    margin-left: 20px;
}
.moringa p{
   font-size: 20px;
   line-height: 30px;
 
}
.moringa a{
    color: #E5872D;
    text-decoration: none;
    font-size: 25px;
}